{block content}
<h2 n:block=title>Detail novinky</h2>
<div class = "col-sm-12">
{control newsAddForm}
<a n:href = "News:default" ><button type="button" class="btn btn-primary fright">zpět</button></a>
</div>
<script>
    CKEDITOR.replace( 'content' );
</script>
<!--<div class="well col-sm-6">navod</div>-->   
      
