<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Bazenycz - nastavení nového hesla</title>
</head>
<body>
    <p>Dobrý den,</p>
    <p>Vaše heslo k účtu uživatele {$username} je připraveno k nastavení.</p>
    <p>Pro nastavení nového hesla prosím použijte <a n:href = '//Sign:editPassword $id'>odkaz na nastavení nového hesla</a></p>
    <p>S pozdravem a přáním pěkného dne</p>
        
    <p>Server Bazenycz</p>
</body>
</html>
